.row {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

.column-full {
  width: 100%;
}

.column-half {
  flex-basis: calc(100% / 2);
}

.column-thirds {
  flex-basis: calc(100% / 3);
}

.column-75 {
  width: 75%;
}
