.row {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

.header {
  height: 50px;
  flex-shrink: 0;
  width: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  height: 50px;
  flex-shrink: 0;
}

.column-full {
  width: 100%;
}

.column-half {
  flex-basis: calc(100% / 2);
}

.column-thirds {
  flex-basis: calc(100% / 3);
}

.column-75 {
  width: 75%;
}
