.header-container {
  display: flex;
  align-items: center;
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-size: 1.5em;
  background-color: #1b1b1b;
  color: #f8f8f8;
  padding-left: 1rem;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  height: 3rem;
  margin-top: 1rem;
}

.size {
  font-size: 2em;
}

.hidden {
  display: none;
}

.fixture-card {
  cursor: pointer;
}

.outer-card {
  margin: 0.5rem;
  background-color: #1b1b1b;
  border-radius: 0.5rem;
  box-shadow: 0 5px #1b1b1b;
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  padding: 0.5rem;
}

.match-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.match-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.sub-head {
  font-family: "Lato", sans-serif;
  margin: 0.5rem;
}

.league-logo {
  width: 2rem;
  margin: 1rem;
}

.team-container {
  text-align: center;
  flex-basis: calc(100% / 3);
  margin-top: 1rem;
}

.center {
  justify-content: center;
}

h6 {
  margin: 1rem;
}

.sub-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.location {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.ref {
  margin-bottom: 1rem;
}

.location > h4,
h5 {
  margin: 0.5rem;
}

.team-logo {
  margin-top: 1rem;
  height: 75px;
  width: 75px;
  object-fit: contain;
}

.kick-off-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kick-off-time {
  margin: 0;
}

.fixture-date-heading {
  text-align: center;
  font-family: "Abhaya Libre", serif;
  margin-top: 4rem;
}

.inner-card {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #5e5e5e;
  color: #f8f8f8;
}

.no-game {
  font-family: "Abhaya Libre", serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.small-logo {
  max-height: 75px;
  padding: 0.5rem;
  object-fit: contain;
  cursor: pointer;
  z-index: 5;
}

.logo-button:hover {
  background: #aeaeae;
  opacity: 50%;
  border-radius: 1.25rem;
}

.enter-button {
  z-index: 10;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: transparent;
  font-size: 0.7em;
  text-decoration: none;
  color: #f8f8f8;
  border: #f8f8f8 2px solid;
  border-radius: 0.4rem;
  width: 6rem;
  font-weight: 600;
  cursor: pointer;
}

.enter-button:hover {
  background-color: #aeaeae;
  cursor: pointer;
}

.wager-input {
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  border: #1b1b1b 1px solid;
  color: #f8f8f8;
  background-color: #6c6c6c;
  text-align: center;
}

.wager-input::placeholder {
  color: #f8f8f8;
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.payout {
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

.yellow {
  border: 4px solid yellow;
}

.none {
  display: none;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
