.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-size: 1.5em;
  background-color: #1b1b1b;
  color: #f8f8f8;
  padding-left: 1rem;
  max-height: 75px;
}

.token-amount-container {
  text-align: center;
  margin: 0 auto;
}

.token-amount-container > h2 {
  margin-bottom: 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1b1b1b;
  height: 5rem;
  margin-top: 1rem;
}

.span-pad {
  padding-top: 0.5rem;
}

.inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.tokens {
  color: gold;
  margin: 0.5rem;
  font-size: 1.8rem;
}

.size {
  font-size: 2em;
  cursor: pointer;
}

.sml-margin {
  margin-right: 1rem;
}

.hidden {
  display: none;
}

.fixture-card {
  cursor: pointer;
}

.text-center {
  text-align: center;
  justify-content: center;
}

.outer-card {
  margin: 0.5rem;
  background-color: #1b1b1b;
  border-radius: 0.5rem;
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  padding: 0.5rem;
}

.shadow {
  box-shadow: 0 5px #1b1b1b;
}

.shadow:hover {
  box-shadow: 0 5px #f8f8f8;
}

.match-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.match-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.sub-head {
  font-family: "Lato", sans-serif;
  margin: 0.5rem;
}

.league-logo {
  width: 2rem;
  margin: 1rem;
}

.team-container {
  text-align: center;
  flex-basis: calc(100% / 3);
  margin-top: 1rem;
}

.past-bets-container {
  display: flex;
  justify-content: space-evenly;
  font-family: "lato", serif;
}

.bet-item {
  padding: 0.25rem;
  text-align: center;
}

.reset {
  margin-bottom: 0;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: align-center;
}

h6 {
  margin: 1rem;
}

.sub-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.location {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.ref {
  margin-bottom: 1rem;
}

.team-logo {
  margin-top: 1rem;
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}

.kick-off-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kick-off-time {
  margin: 0;
}

.central-heading {
  text-align: center;
  font-family: "Abhaya Libre", serif;
  margin-top: 1rem;
}

.inner-card {
  display: flex;
  justify-content: space-between;
}

.bets-inner-card {
  display: flex;
  flex-direction: column;
  font-family: "Abhaya Libre", serif;
}

body {
  background-color: #5e5e5e;
  color: #f8f8f8;
}

.no-game {
  font-family: "Abhaya Libre", serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.small-logo {
  max-height: 75px;
  padding: 0.5rem;
  object-fit: contain;
  cursor: pointer;
  z-index: 5;
}

.active {
  background: #aeaeae;
  opacity: 50%;
  border-radius: 1.25rem;
}

.logo-button:hover {
  background: #aeaeae;
  opacity: 50%;
  border-radius: 1.25rem;
}

.enter-button {
  z-index: 10;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: transparent;
  font-size: 0.7em;
  text-decoration: none;
  color: #f8f8f8;
  border: #f8f8f8 2px solid;
  border-radius: 0.4rem;
  width: 6rem;
  font-weight: 600;
  cursor: pointer;
}

.enter-button:hover {
  background-color: #535353;
  cursor: pointer;
}

.wager-input {
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  border: #1b1b1b 1px solid;
  color: #f8f8f8;
  background-color: #6c6c6c;
  text-align: center;
  width: 12rem;
}

.wager-input::placeholder {
  color: #f8f8f8;
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  z-index: 10;
}

.payout {
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

.yellow {
  border: 4px solid yellow;
}

.none {
  display: none;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.day-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  padding-right: 0.5rem;
}

.date-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 0 0 0 5px;
  width: 5rem;
  height: 5rem;
}

.day-label {
  font-size: 1.35em;
  margin: 4px 0 0 0;
}

.date-label {
  font-size: 1.5em;
}

.selected-date {
  font-weight: bold;
  height: 4rem;
  background-color: #4c4c4c;
  border-radius: 1rem;
  border: 2px solid #aeaeae;
}

table {
  border-collapse: collapse;
  padding: 1rem;
  border-spacing: none;
  width: 100%;
}

th {
  text-align: center;
  font-family: "Abhaya Libre", serif;
  font-size: 1.5em;
  background-color: #1b1b1b;
}

tr {
  padding-right: 0.5rem;
  text-align: center;
}

td {
  font-family: "lato", sans-serif;
  padding: 0.5rem;
  border: 0;
  font-size: 1em;
  width: calc(100% / 3);
}

tr:nth-child(odd) {
  background-color: #4c4c4c;
}

a {
  color: inherit;
  text-decoration: none;
}

.logoSize {
  font-size: 0.65em;
}

.icon-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  font-family: "Abhaya Libre", serif;
}

.columns-count {
  display: flex;
}

.block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
}

.Won {
  color: #549916;
}

.Lost {
  color: #dd1900;
}

.Pending {
  color: #f7f30a;
}

.home-image {
  object-fit: contain;
  width: 10rem;
}

.align {
  text-align: center;
  padding: 1.2rem;
  z-index: 10;
  line-height: 2.1rem;
}

.home-bg {
  background-image: url(../images/bigger.jpeg);
}

.sign-bg {
  background-image: url(../images/fan.jpeg);
}

.bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title-row {
  height: calc(100% / 3);
}

.message-row {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-row {
  height: calc(100% / 3);
  display: flex;
  align-items: center;
}

.title {
  color: white;
  text-align: center;
  z-index: 10;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.large {
  font-size: 2em;
}

.lg {
  font-size: 1.5em;
}

.sign-buttons {
  z-index: 10;
  padding: 1rem;
  margin: 1rem;
  background-color: transparent;
  font-size: 1em;
  text-decoration: none;
  color: #f8f8f8;
  border: #f8f8f8 2px solid;
  border-radius: 0.4rem;
  width: 8rem;
  font-weight: 600;
  cursor: pointer;
}

.sign-buttons:hover {
  background-color: #535353;
  cursor: pointer;
}
